* {
    font-family: monospace;
    background-color: #282C34;
    color: #FFFFFF;
}

body {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    text-align: center;
}


body > #title {
    font-size: 50px;
    margin-bottom: -10px;
}

body > #description {
    margin-bottom: 50px;
}

body > #container > a {
    display: block;
    padding: 20px;
    background-color: #FFFFFF;
    color: #282C34;
    border-radius: 20px;
}